*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 87.5%;
  /* @media only screen and (max-width:$bp-medium) {
        font-size: 112%; //18px=1rem
    } */ }

body {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #181f2a;
  color: #fff;
  line-height: 1.3; }

.container {
  display: grid;
  grid-template-rows: repeat(7, min-content);
  grid-template-columns: [full-start] 1fr [center-start] repeat(12, [col-start] minmax(min-content, 7rem) [col-end]) [center-end] 1fr [full-end]; }

.header {
  grid-row: 1 / 2;
  grid-column: full-start / full-end;
  display: flex;
  flex-direction: row;
  padding: 3rem 2rem 2.5rem 2rem;
  margin-bottom: 5rem;
  color: #fff;
  background-color: #1c2431; }
  @media only screen and (max-width: 18.75em) {
    .header {
      display: flex;
      flex-direction: column; } }

.header-logo {
  margin-right: auto;
  align-self: center; }
  @media only screen and (max-width: 25em) {
    .header-logo {
      margin-bottom: 1rem; } }

.header-list ul {
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media only screen and (max-width: 25em) {
    .header-list ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start; } }

.header-list li {
  list-style: none; }
  @media only screen and (max-width: 25em) {
    .header-list li {
      margin-bottom: .3rem; } }
  @media only screen and (max-width: 37.5em) {
    .header-list li {
      font-size: .8rem; } }
  .header-list li:not(:last-child) {
    margin-right: 2vw; }

.header-list ul li a {
  text-decoration: none;
  color: white; }
  .header-list ul li a:hover {
    color: aqua; }

.footer {
  grid-row: 7 / 8;
  grid-column: full-start / full-end;
  background-color: #0b1523;
  padding: 12rem 4rem 5rem 4rem;
  margin-top: -11rem;
  z-index: 1; }

.footer-img {
  margin-bottom: 3rem; }
  .footer-img__logo {
    max-width: 100%;
    display: block; }

.footer-main {
  display: grid;
  grid-template-columns: minmax(min-content, 25rem) 15rem 1fr min-content;
  grid-template-rows: auto;
  grid-column-gap: 3rem; }
  @media only screen and (max-width: 62.5em) {
    .footer-main {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto;
      grid-row-gap: 3rem; } }

.footer-locate {
  display: flex; }
  .footer-locate__icon {
    width: 1rem;
    height: 1rem;
    margin-right: 1rem;
    align-self: flex-start; }
  .footer-locate__text {
    max-width: 20rem; }

.footer-contact__icon {
  width: 1rem;
  height: 1rem;
  margin-right: 1rem; }

.footer-contact ul li {
  list-style: none;
  display: flex; }
  .footer-contact ul li:not(:last-child) {
    margin-bottom: 1.5rem; }

.footer-list ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 62.5em) {
    .footer-list ul {
      display: flex;
      flex-direction: column; } }

.footer-list ul li {
  width: 45%;
  margin-bottom: 1.5rem;
  margin-right: 1rem; }
  @media only screen and (max-width: 62.5em) {
    .footer-list ul li {
      width: 100%; }
      .footer-list ul li:nth-child(4) {
        margin-bottom: 3.5rem; } }

.footer-social {
  display: flex;
  align-self: start;
  justify-self: end; }
  @media only screen and (max-width: 62.5em) {
    .footer-social {
      justify-self: center; } }
  .footer-social__icon {
    display: block;
    margin-right: .5rem; }

.attribution {
  text-align: center;
  margin-top: 5rem; }

.wrapper {
  grid-row: 2 / 3;
  grid-column: full-start / full-end;
  padding: 4rem 2rem 8rem 2rem;
  margin-top: -5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-image: url(../images/bg-curvy-desktop.svg);
  background-position: bottom;
  background-size: contain;
  background-color: #1c2431; }
  @media only screen and (max-width: 37.5em) {
    .wrapper {
      background-image: none; } }

.wrapper-image {
  margin-bottom: 1.4rem;
  text-align: center; }
  .wrapper-image__img {
    max-width: 100%; }

.wrapper-contents {
  display: flex;
  flex-direction: column;
  align-items: center; }

.heading-1 {
  font-size: 2.7rem;
  max-width: 52rem;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 1.6rem; }

.paragraph-w {
  max-width: 40.5rem;
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 1.7rem;
  line-height: 1.4;
  font-family: "Open Sans", sans-serif; }

.btn {
  border: none;
  padding: .9rem 5rem;
  border-radius: 7.14rem;
  color: #fff;
  background-image: linear-gradient(to right, #65e2d9, #339ecc);
  font-family: font-primary; }
  .btn:hover {
    background-image: linear-gradient(to right, rgba(0, 128, 0, 0.5), rgba(0, 0, 255, 0.5)); }

.components {
  grid-row: 3 / 4;
  grid-column: center-start / center-end;
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 27rem));
  grid-column-gap: 7rem;
  grid-row-gap: 6rem;
  align-items: baseline;
  justify-content: center; }

.component {
  display: grid;
  grid-template-columns: minmax(min-content, max-content);
  justify-items: center;
  padding: 1.5rem; }
  .component__img {
    max-width: 100%;
    margin-bottom: 2rem; }
  .component__heading {
    margin-bottom: .4rem;
    text-align: center; }
  .component__text {
    max-width: 24rem;
    text-align: center;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.99); }
  .component__text-2 {
    max-width: 26rem;
    text-align: center;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.99); }
  .component__text-3 {
    max-width: 25rem;
    text-align: center;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.99); }

.about {
  grid-row: 4 / 5;
  grid-column: center-start / center-end;
  padding: 0 2rem;
  margin: 4rem 0;
  /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  align-items: center;
  justify-items: center;
  grid-column-gap: 1rem; }
  @media only screen and (max-width: 43.75em) {
    .about {
      display: grid;
      grid-template-columns: minmax(min-content, 1fr);
      grid-template-rows: auto;
      align-items: center;
      justify-items: center;
      grid-column-gap: 1rem; } }

.about-img__p {
  max-width: 100%; }
  @media only screen and (max-width: 43.75em) {
    .about-img__p {
      max-width: 90%; } }

.about-typo {
  padding: 2.5rem; }
  .about-typo__heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 43.75em) {
      .about-typo__heading {
        font-size: 1.6rem; } }
  .about-typo__text {
    font-family: sans-serif;
    max-width: 35rem;
    margin-bottom: 1rem; }
  .about-typo__text-2 {
    font-family: sans-serif;
    max-width: 36rem;
    margin-bottom: 1.2rem; }

.about-link {
  display: flex;
  flex-direction: row;
  padding-bottom: .2rem;
  width: 10.4rem;
  border-bottom: 1px solid #62E0D9;
  justify-content: space-between; }
  .about-link__text {
    font-family: sans-serif; }
    .about-link__text a {
      text-decoration: none;
      color: #62E0D9; }
  .about-link__pointer {
    max-width: 100%; }

.reviews {
  grid-row: 5 / 6;
  grid-column: center-start / center-end;
  padding: 2.5rem 2rem 4rem 2rem;
  margin: 6rem 0;
  background-image: url(../images/bg-quotes.png);
  background-repeat: no-repeat;
  background-position: 3.4rem .1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 24rem));
  grid-template-rows: auto;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center; }

.review {
  padding: 3rem 2rem 2rem 2rem;
  background-color: #202a3c;
  display: grid;
  grid-row-gap: 1.7rem;
  grid-column-gap: .5rem;
  grid-template-columns: min-content 1fr;
  grid-template-rows: repeat(2, min-content);
  border-radius: .5rem; }
  .review__text {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    max-width: 20rem;
    font-family: sans-serif; }

.review-profile__img {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  width: 2rem;
  height: 2rem;
  display: block;
  border-radius: 50%; }

.review-names {
  grid-row: 2 / 3;
  grid-column: 2 / -1; }
  .review-names__position {
    font-size: .8rem;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.7); }

.form {
  grid-row: 6 / 7;
  grid-column: full-start / full-end;
  margin: 4rem 0;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: minmax(min-content, 55rem);
  grid-template-rows: auto;
  justify-content: center; }

.sign-up {
  padding: 3rem 4rem;
  background-color: #1c2431;
  border-radius: .5rem;
  box-shadow: 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  justify-items: center;
  z-index: 2; }
  @media only screen and (max-width: 37.5em) {
    .sign-up {
      padding: 2rem 2rem; } }
  .sign-up__heading {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
    text-align: center; }
  .sign-up__text {
    max-width: 45rem;
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 2rem; }
  .sign-up__form {
    width: 100%; }

input[type=text] {
  width: 70%;
  padding: 1rem 2rem;
  margin-right: 1.5rem;
  border: none;
  border-radius: 7.14rem; }
  @media only screen and (max-width: 56.25em) {
    input[type=text] {
      width: 100%;
      margin-bottom: 2rem; } }
  @media only screen and (max-width: 25em) {
    input[type=text] {
      padding: .5rem 1rem; } }

input[type=submit] {
  padding: 1rem 1.5rem;
  width: 25%;
  border: none;
  border-radius: 7.14rem;
  color: #fff;
  background-image: linear-gradient(#65e2d9, #339ecc); }
  @media only screen and (max-width: 56.25em) {
    input[type=submit] {
      width: 50%; } }
  @media only screen and (max-width: 37.5em) {
    input[type=submit] {
      width: 100%; } }
  @media only screen and (max-width: 25em) {
    input[type=submit] {
      padding: .5rem 1rem; } }
