//WRAPPER SECTION
.wrapper {
    grid-row: 2 / 3;
    grid-column: full-start / full-end;
    padding: 4rem 2rem 8rem 2rem;
    margin-top: -5rem;

    display: flex;
    flex-direction: column;    
    align-items: center;
    background-repeat: no-repeat;
    background-image: url(../images/bg-curvy-desktop.svg);
    background-position: bottom;
    background-size: contain;
    background-color: $color-dark-blue;

    @media only screen and (max-width:$bp-small) {
        background-image: none;
    }
}

.wrapper-image {
    margin-bottom: 1.4rem;
    text-align: center;

    &__img {
        max-width: 100%;
        
    }
}

.wrapper-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading-1 {
    font-size: 2.7rem;
    max-width: 52rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 1.6rem;
}

.paragraph-w {
    max-width: 40.5rem;
    font-size: 1.3rem;
    text-align: center;
    margin-bottom: 1.7rem;
    line-height: 1.4;
    font-family: $font-primary;
}
//Wrapper-Btn
.btn {
    border: none;
    padding: .9rem 5rem;
    border-radius: 7.14rem;
    color: #fff;
    background-image: linear-gradient(to right, $color-lighter-blue, $color-light-blue);
    font-family: font-primary;
}


//HIGHLTIGHT SECTION
.components {
    grid-row: 3 / 4;
    grid-column: center-start / center-end;
    margin: 4rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem, 27rem));
    grid-column-gap: 7rem;
    grid-row-gap: 6rem;
    align-items: baseline;
    justify-content: center;
}

.component {
    display: grid;
    grid-template-columns: minmax(min-content, max-content);
    justify-items: center;
    padding: 1.5rem;

    &__img {
        max-width: 100%;
        margin-bottom: 2rem;
    } 

    &__heading {
        margin-bottom: .4rem;
        text-align: center;
    }

    &__text {
        max-width: 24rem;
        @include text-style;
        
    }

    &__text-2 {
        max-width: 26rem;
        @include text-style;
    }

    &__text-3 {
        max-width: 25rem;
        @include text-style;
    }
}

//ABOUT SECTION 
.about {
    grid-row: 4 / 5;
    grid-column: center-start / center-end;
    padding: 0 2rem;
    margin: 4rem 0;

   /* display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; */

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem,1fr));
    grid-template-rows: auto;
    align-items: center;
    justify-items: center;
    grid-column-gap: 1rem;
}

.about-img {

    &__p {
        max-width: 100%;
    }
}

.about-typo {
    padding: 2.5rem;

    &__heading {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
    }

    &__text {
        font-family: sans-serif;
        max-width: 35rem;
        margin-bottom: 1rem;
    }

    &__text-2 {
        font-family: sans-serif;
        max-width: 36rem;
        margin-bottom: 1.2rem;
    }
}

.about-link {
    display: flex;
    flex-direction: row;
    padding-bottom: .2rem;
    width: 10.5rem;
    border-bottom: 1px solid #62E0D9;
    justify-content: space-between;

    &__text {
        font-family: sans-serif;
        color: #62E0D9;
    }

    &__pointer {
        max-width: 100%;
    }
}

//REVIEWS SECTION
.reviews {
    grid-row: 5 / 6;
    grid-column: center-start / center-end;
    padding: 2.5rem 2rem 4rem 2rem;
    margin: 6rem 0;
    background-image: url(../images/bg-quotes.png);
    background-repeat: no-repeat;
    background-position: 3.4rem .1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(19rem, 24rem));
    grid-template-rows: auto;
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: center;
}

.review {
    padding: 3rem 2rem 2rem 2rem;
    background-color: $color-dark-blue-2;

    display: grid;
    grid-row-gap: 1.7rem;
    grid-column-gap: .5rem;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    border-radius: .5rem;

    &__text {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        max-width: 20rem;
        font-family: sans-serif;
    }
}

.review-profile {
    

    &__img {
        grid-row: 2 / 3;
        grid-column: 1 / 2;

        width: 2rem;
        height: 2rem;
        display: block;
        border-radius: 50%;
    }
}

.review-names {
    grid-row: 2 / 3;
    grid-column: 2 / -1;

    &__surname {

    }

    &__position {
        font-size: .8rem;
        font-family: sans-serif;
        color: rgba(#fff, .7);
    }
}

//SIGN-UP 
.form {
    grid-row: 6 / 7;
    grid-column: center-start / center-end;
    margin: 4rem 0;
    padding: 0 3rem;

    display: grid;
    grid-template-columns: minmax(min-content,55rem);
    grid-template-rows: auto;
    justify-content: center;
}

.sign-up {
    padding: 3rem 4rem;
    background-color: $color-dark-blue;
    border-radius: .5rem;
    box-shadow: .4rem .4rem rgba(black,.1);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    justify-items: center;
    z-index: 2;

    &__heading {
        font-size: 1.7rem;
        margin-bottom: 1.5rem;
        text-align: center;
    }

    &__text {
        max-width: 45rem;
        font-family: sans-serif;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__form {
        width: 100%;
    }
}
//FORM
input[type=text] {
    width: 70%;
    padding: 1rem 2rem;
    margin-right: 1.5rem;
    border: none;
    border-radius: 7.14rem;

    @media only screen and (max-width:$bp-large) {
        width: 100%;
        margin-bottom: 2rem;
    } 
}

input[type=submit] {
    padding: 1rem 1.5rem;
    width: 25%;
    border: none;
    border-radius: 7.14rem;
    color: #fff;
    background-image: linear-gradient($color-lighter-blue, $color-light-blue);

    @media only screen and (max-width:$bp-large) {
        width: 50%;
    }

    @media only screen and (max-width:$bp-small) {
        width: 100%;
    }
}