.header {
    grid-row: 1 / 2;
    grid-column: full-start / full-end;

    display: flex;
    flex-direction: row;
    padding: 2rem;
    margin-bottom: 5rem;
    color: #fff;
    background-color: $color-dark-blue;
}

.header-logo {
    margin-right: auto;
    align-self: center;
}

.header-list ul {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-list li {
    list-style: none;

    @media only screen and (max-width:$bp-small) {
        font-size: .8rem;
    } 

    &:not(:last-child) {
        margin-right: 2vw;
    }
} 